.header-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    height: 100vh;
    background: #52A7DD;
    // grid-gap: .2rem;
    background-image: url('../../../assets/images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.heading-img {
    
}

.heading-text {
    // padding: 3rem;
    margin: auto;

}

.btn-hero {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    cursor: pointer;
}

.btn-text {
    font-weight: bold;
}
.card-width{
    width: 20rem!important;
}

@media(max-width: 320px){
    .heading-text {
        margin: 0;

    }

}

.timer-container {
    background: rebeccapurple;
    height: 10rem;
    display: grid;
    grid-template-columns: 
    justify-content: center;
    align-items: center;
    color: white;
}

.timer-box {
    height: 7rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    background: #52A7DD;
}

.timer-num {
    font-size: 2rem;

}