.picture-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 70vh;
    background: pink;


    .picture-item1{
        background: red;
    }
     .picture-item2{
        background: blue;
    }

     .picture-item3{
        background: purple;
    }

     .picture-item4{
        background: plum;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item6{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item5{
        background: orange;
    }



}

