.header-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    height: 70vh;
    background: #52A7DD;
    // grid-gap: .2rem;
    
}

.heading-img {
    
}

.heading-text {
    padding: 3rem;
    margin: auto;

}