.picture-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 70vh;
    background: pink;


    .picture-item1{
        background: red;
    }
     .picture-item2{
        background: blue;
    }

     .picture-item3{
        background: purple;
    }

     .picture-item4{
        background: plum;
    }

     .picture-item5{
        background: orange;
    }

     .picture-item6{
        background: #206a5d;
    }

     .picture-item7{
        background: 1f4068;
    }

     .picture-item8{
        background: orange;
    }

     .picture-item9{
        background: orange;
    }

     .picture-item10{
        background: orange;
    }

     .picture-item11{
        background: orange;
    }

     .picture-item12{
        background: orange;
    }

     .picture-item13{
        background: orange;
    }

     .picture-item14{
        background: orange;
    }

     .picture-item15{
        background: orange;
    }

     .picture-item16{
        background: orange;
    }

     .picture-item17{
        background: orange;
    }

     .picture-item18{
        background: orange;
    }

     .picture-item19{
        background: orange;
    }

     .picture-item20{
        background: orange;
    }

     .picture-item21{
        background: orange;
    }



}

