.picture-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    background: pink;
    // grid-gap: 1rem;


    .picture-item1{
        background: red;
        grid-column: 1/4;
        grid-row: 1/2;
    }
     .picture-item2{
        background: blue;
         grid-column: 4/7;
        grid-row: 1/2;
    }

     .picture-item3{
        background: purple;
         grid-column: 7/10;
        grid-row: 1/2;
    }

     .picture-item4{
        background: plum;
         grid-column: 10/-1;
        grid-row: 1/2;
    }

     .picture-item5{
        background: orange;
        grid-column: 1/3;
        grid-row: 2/3;
    }

     .picture-item6{
        background: #206a5d;
         grid-column: 3/6;
        grid-row: 2/3;
    }

     .picture-item7{
        background: #1f4068;
        grid-column: 6/9;
        grid-row: 2/3;
    }

     .picture-item8{
        background: #ebecf1;
        grid-column: 9/-1;
        grid-row: 2/3;
    }

     .picture-item9{
         grid-column: 1/3;
        grid-row: 3/5;
        background: #1b1c25;
    }

     .picture-item10{
           grid-column: 3/4;
        grid-row: 3/4;
        background: #e3dfc8;
    }

     .picture-item11{
        background: orange;
    }

     .picture-item12{
        background: #6f4a8e;
    }

     .picture-item13{
        background:#221f3b;
    }

     .picture-item14{
        background: #ffdbc5;
    }

     .picture-item15{
        background: #ffffdd;
    }

     .picture-item16{
        background: #d3de32;
    }

     .picture-item17{
        background: #3b2e5a;
    }

     .picture-item18{
        background: #0f4c75;
    }

     .picture-item19{
        background: #7fdbda;
    }

     .picture-item20{
        background:#8fcfd1;
    }

     .picture-item21{
        background: #595238;
    }



}

