.header-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    height: 70vh;
    // background: pink;
    // grid-gap: .2rem;
    background-image: url('../../../assets/images/bikehero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


